!
hostname {{ HOSTNAME }}
!
interface Loopback0
 description Management
 ip address {{ IP_MGMT }} 255.255.255.255
!
interface GigabitEthernet0/0
 description DATA-{{ REGION }}
 ip address {{ IP_DATOS }} 255.255.255.0
{% for helper in DATA_HELPER %}
 ip helper-address {{ helper }}
{% endfor %}
 no shutdown
!
logging host {{ IP_SYSLOG_N }}
logging host {{ IP_SYSLOG_S }}
!
end
